%gap {
  gap: 6px;
  // margin: 6px; // no need for now
  padding: 6px;
}

%border {
  border: 1px solid #000;
}

%column-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

%row-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
