%gap {
  gap: 6px;
  // margin: 6px; // no need for now
  padding: 6px;
}

%border {
  border: 1px solid #000;
}

%column-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

%row-layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

%center {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

%non-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Legacy IE/Edge */
  user-select: none; /* Standard syntax */
}

%container {
  width: 100%;
  // background-color: antiquewhite;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
}
