@use '@/styles/mixins';
.error {
  color: #e00;
  margin: 0;
}

.page {
  @extend %gap, %column-layout, %center, %container;
}

.form {
  @extend %gap, %column-layout;
  min-width: 200px;
}

.header-panel {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .toolbar-buttons {
    @extend %column-layout;
    @extend %gap;
    max-width: fit-content;
  }
}

kbd {
  @extend %non-select;
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: #333333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

button {
  cursor: pointer;
  @extend %non-select;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %non-select;
}

summary {
  width: 100%;
  font-weight: bold;
}
:root {
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
}

.main {
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 16px;
}
